<% layout("/layouts/boilerplate") -%>
<%= success %>
<h3>All Listings</h3>
<!-- <form method="GET" action="/listings/new">
    <button>CREATE NEW Listings</button>
</form> -->
<div class="row row-cols-sm-1 row-cols-md-3">
    <% for(let listing of allListings){ %>
        <div class="col">
            <a href="/listings/<%= listing._id%>" class="listing-link">
            <div class="card col listing-card" style="width: 20rem;">
                <img 
                    src="<%= (listing.image && listing.image.url) ? listing.image.url : 'https://plus.unsplash.com/premium_photo-1711305682256-3b1874c923bd?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw3Mnx8fGVufDB8fHx8fA%3D%3D' %>" 
                    class="card-img-top" 
                    alt="listing_image" 
                    style="height:20rem;"/>
                    <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text">
                        <%= listing.title %><br>
                        &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                    </p>
                </div>
            </div>
        </a>
        </div>
    <%}%>
</div>
